.join-us-page {
  background-color: #000;
}
.join-us-page .page-heading {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, #000 100%), url("../../../images/join-us.webp");
  color: #fff;
}
.join-us-page .contact-us {
  background: #000;
  padding: 58px 0 78px 0;
}
.join-us-page .contact-us .contact-us-form {
  gap: 20px;
}
.join-us-page .contact-us .contact-us-form input,
.join-us-page .contact-us .contact-us-form select {
  padding: 10px 15px;
  border-radius: 9.316px;
  border: 0.932px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16.768px;
  font-weight: 400;
  line-height: 51.236px;
  letter-spacing: -0.503px;
}
.join-us-page .contact-us .contact-us-form input::-moz-placeholder, .join-us-page .contact-us .contact-us-form select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.join-us-page .contact-us .contact-us-form input::placeholder,
.join-us-page .contact-us .contact-us-form select::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.join-us-page .contact-us .contact-us-form .file-drop-area {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px), repeating-linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px), repeating-linear-gradient(270deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px);
  -o-border-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px);
     border-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, transparent 15px, transparent 30px);
  border-radius: 9.316px;
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  height: 319px;
}
.join-us-page .contact-us .contact-us-form .file-drop-area.dragover {
  background-color: rgba(255, 255, 255, 0.05);
}
.join-us-page .contact-us .contact-us-form .file-drop-area h5 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.join-us-page .contact-us .contact-us-form .file-drop-area span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16.768px;
  font-weight: 400;
  line-height: 51.236px;
  letter-spacing: -0.503px;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .btn-browse-files {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16.768px;
  font-weight: 400;
  line-height: 51.236px;
  letter-spacing: -0.503px;
  padding: 0 27.5px;
  border: none;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .btn-browse-files:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .file-input:focus {
  outline: none;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .file-name {
  margin-top: 10px;
  font-weight: bold;
}
.join-us-page .contact-us .contact-us-form .file-drop-area .file-name:empty {
  display: none;
}/*# sourceMappingURL=join-us.css.map */