.real-estate-support-page {
  background-color: #000;
  .page-heading {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, #000 100%),
      url("../../../images/real-estate-support.webp");
    color: #fff;
  }
  .section-title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 19px;
    @media (max-width: 992px) {
      font-size: 28px;
    }
  }
  .section-description {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    margin: 0 auto 64px;
    max-width: 646px;
  }
  .main-section {
    padding: 78px 0 285px 0;
    h2 {
      margin-bottom: 24px;
    }
    ol,
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      max-width: 666px;
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      height: 673px;
      max-width: 497px;
      object-fit: cover;
    }
    .property-management {
      margin-bottom: 222px;
    }
    .visa-processing {
      margin-bottom: 87px;
      h2 {
        margin-bottom: 37px;
      }
      p {
        max-width: 100%;
      }
      img {
        max-width: 589px;
        height: 608px;
      }
    }
    @media (max-width: 1200px) {
      h2 {
        margin-bottom: 24px;
      }
      ol,
      p {
        font-size: 16px;
        max-width: 100%;
      }
      img {
        height: auto;
        max-width: 100%;
        max-height: 500px;
      }
      .property-management {
        margin-bottom: 122px;
      }
    }
  }
  .contact-us {
    background: rgba(221, 153, 52, 0.14);
    padding: 56px 0 54px 0;
    h2 {
      margin-bottom: 49px;
    }
    .contact-us-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20.49px;
      input,
      select,
      textarea {
        padding: 19.56px 20px;
        border-radius: 9.316px;
        border: 0.932px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 16.768px;
        font-weight: 400;
        line-height: 25.236px;
        &::placeholder {
          color: rgba(255, 255, 255, 0.7) !important;
        }
      }
      textarea {
        width: 100%;
        height: 170px;
      }
      button {
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        padding: 9.32px 0;
        height: 66px;
        border-radius: 5px;
      }
    }
    .contact-us-images {
      position: relative;
      padding: 15px 0 0 0;
      max-width: 545px;
      margin: auto;
      .image-1 {
        width: 49.5%;
        z-index: 2;
        left: 0;
        position: absolute;
        img {
          border-radius: 9.316px;
          height: 403px;
        }
      }
      .image-2 {
        width: 80%;
        top: 100px;
        position: relative;
        img {
          border-radius: 9.316px;
          height: 470px;
          object-fit: cover;
        }
      }
      @media (max-width: 992px) {
        margin: 0 auto 160px auto;
        max-width: 460px;
        .image-1 {
          width: 55%;
          img {
            height: 320px;
            width: 100%;
          }
        }
        .image-2 {
          img {
            height: 350px;
          }
        }
      }
    }
  }
}
