.property-page {
  background-color: #000;
  .page-heading {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, #000 100%),
      url("../../../images/Rectangle\ 1\ \(5\).webp");
    color: #fff;
  }
  .section-title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 19px;
    @media (max-width: 992px) {
      font-size: 28px;
    }
  }
  .section-description {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    margin: 0 auto 64px;
    max-width: 646px;
  }
  .property-section {
    padding-top: 78px;
    margin-bottom: 90px;

    .property-image {
      margin-bottom: 8px;
    }
    .property-image-info {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      .box-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 105px;
        flex: 1;
        gap: 8px;
        .box-s {
          display: flex;
          padding: 7px 8px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          height: 51px;
        }
      }
    }
    .property-info {
      .span-group {
        display: flex;
        justify-content: end;
        margin-bottom: 32px;
        button {
          border-radius: 3000px;
          text-align: center;
          font-family: Roboto;
          font-size: 20px;
          font-weight: 500;
          margin-right: 10px;
          padding: 3px 12px;
          &.span1 {
            color: #000;
            background: #fff;
            border: 1px solid #fff;
          }
          &.span2 {
            border: 1px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            background: #dd9934;
          }
          &.span3 {
            border: 1px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            background: #000;
          }
        }
      }
      h3 {
        margin-bottom: 15px;
        color: #fff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
      }
      p {
        color: rgba(219, 217, 217, 0.7);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .carousel {
      .carousel-inner {
        max-width: 100%;
        margin: auto;
      }
      .carousel-item {
        img {
          min-width: 500px;
          min-height: 500px;
          object-fit: cover;
        }
      }
      .carousel-control-prev {
        justify-content: flex-start;
      }
      .carousel-control-next {
        justify-content: flex-end;
      }
      .carousel-control-prev,
      .carousel-control-next {
        align-items: center;
        width: 5%;
      }
    }
  }
}
