html {
  scroll-behavior: smooth;
  font-size: 18px;
  @media (max-width: 991px) {
    font-size: 16px;
  }
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px !important;
  }
}
