.interior-design-page {
  background: #000;
}
.interior-design-page .section-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 19px;
}
@media (max-width: 992px) {
  .interior-design-page .section-title {
    font-size: 28px;
  }
}
.interior-design {
  background: #000;
}
.interior-top {
  position: relative;
}
.box {
  top: 29%;
  width: 65%;
  height: 369px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
}
.box .title {
  width: 77%;
  margin: auto;
  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 105.687%; /* 63.412px */
  text-transform: uppercase;
  margin-bottom: 19px;
  margin-top: 96px;
}
.box .description {
  width: 77%;
  margin: auto;
  color: #dbd9d9;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px; /* 175% */
}
.initial-details {
  margin-top: 13%;
}
@media (max-width: 1000px) {
  .box {
    height: 300px;
  }
  .box .title {
    margin-top: 30px;
    font-size: 40px;
  }
}
@media (max-width: 769px) {
  .box {
    top: 15px;
    height: auto;
  }
  .box .title {
    font-size: 35px;
  }
  .box .description {
    font-size: 15px;
    line-height: 22.5px;
  }
}
@media (max-width: 600px) {
  .box .description {
    width: 90%;
  }
  .box .title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .box {
    position: static;
    margin: auto;
    transform: translate(0px, 0px);
  }
}
.filtter-btn {
  width: 124px;
  height: 49px;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  margin-bottom: 40px;
}
/*------CARD-----*/
.card {
  height: 442px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  width: 97%;
  margin: auto;
  margin-bottom: 40px;
}
.card-img {
  position: relative;
}
.card-img img {
  border-radius: 10px;
  width: 100%;
  height: 239.382px;
  object-fit: cover;
}
.card-img span {
  padding: 3px 12px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  border-radius: 3000px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-info {
  padding-left: 15.18px;
  padding-top: 23px;
}
.card-info h3 {
  color: #fff;
  margin-bottom: 15px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
}
.card-info p {
  color: rgba(219, 217, 217, 0.7);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 23px;
}
.card-info .last-section {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.card-info .last-section .box-s {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .card-info .last-section .box-s {
    padding: 2px 7px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
  .card-info .last-section .box-s {
    padding: 2px 0px;
  }
}
/*------OUR PHILOSOPHY-----*/
.our-philosophy {
  padding-bottom: 50px;
}
.our-philosophy h2 {
  color: #dd9934;
  text-align: center;
  font-family: Roboto;
  font-size: 22.635px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 51px;
}
.our-philosophy .bg-image {
  background-image: url("../images/rectangle.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
  border-radius: 20px;
}
.our-philosophy p {
  color: #fff;
  width: 65%;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  padding-top: 70px;
  margin: auto;
  font-weight: 700;
  line-height: 170%;
}
@media (max-width: 769px) {
  .our-philosophy p {
    width: 90%;
    font-size: 30px;
    padding-top: 15px;
  }
}
/*------CONTACTUS-----*/

.interior-design-page .contact-us {
  background: rgba(221, 153, 52, 0.14);
  padding: 56px 0 54px 0;
}
.interior-design-page .contact-us h2 {
  margin-bottom: 49px;
}
.interior-design-page .contact-us .contact-us-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20.49px;
}
.interior-design-page .contact-us .contact-us-form input,
.interior-design-page .contact-us .contact-us-form select,
.interior-design-page .contact-us .contact-us-form textarea {
  padding: 19.56px 20px;
  border-radius: 9.316px;
  border: 0.932px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16.768px;
  font-weight: 400;
  line-height: 25.236px;
}
.interior-design-page .contact-us .contact-us-form input::-moz-placeholder,
.interior-design-page .contact-us .contact-us-form select::-moz-placeholder,
.interior-design-page .contact-us .contact-us-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.interior-design-page .contact-us .contact-us-form input::placeholder,
.interior-design-page .contact-us .contact-us-form select::placeholder,
.interior-design-page .contact-us .contact-us-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.interior-design-page .contact-us .contact-us-form textarea {
  width: 100%;
  height: 170px;
}
.interior-design-page .contact-us .contact-us-form button {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 9.32px 0;
  height: 66px;
  border-radius: 5px;
}
.interior-design-page .contact-us .contact-us-images {
  position: relative;
  padding: 15px 0 0 0;
  max-width: 545px;
  margin: auto;
}
.interior-design-page .contact-us .contact-us-images .image-1 {
  width: 49.5%;
  z-index: 2;
  left: 0;
  position: absolute;
}
.interior-design-page .contact-us .contact-us-images .image-1 img {
  border-radius: 9.316px;
  height: 403px;
}
.interior-design-page .contact-us .contact-us-images .image-2 {
  width: 80%;
  top: 100px;
  position: relative;
}
.interior-design-page .contact-us .contact-us-images .image-2 img {
  border-radius: 9.316px;
  height: 470px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 992px) {
  .interior-design-page .contact-us .contact-us-images {
    margin: 80px auto 160px auto;
    max-width: 460px;
  }
  .interior-design-page .contact-us .contact-us-images .image-1 {
    width: 55%;
  }
  .interior-design-page .contact-us .contact-us-images .image-1 img {
    height: 320px;
    width: 100%;
  }
  .interior-design-page .contact-us .contact-us-images .image-2 img {
    height: 350px;
  }
} /*# sourceMappingURL=our-team.css.map */
