@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-color: #dd9934;
  --main-color-hover: #bd7e21;
  --text-color: #dbd9d9;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}
@media (max-width: 991px) {
  html {
    font-size: 16px;
  }
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px !important;
  }
}
.images-wrapper {
  background-color: #000;
}
.images-wrapper .col-image {
  border-radius: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10.97%;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  max-width: 100%;
}
.images-wrapper .col-image-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.57)), url("../images/1.webp");
}
.images-wrapper .col-image-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.57)), url("../images/2.webp");
}
.images-wrapper .col-image-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.57)), url("../images/3.webp");
}
.images-wrapper .btn-outline-primary {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background: #000;
  color: white;
  max-width: 213px;
  width: 100%;
}
.images-wrapper .btn-outline-primary:hover {
  background-color: var(--main-color);
}

.about-us-page {
  background-color: #000;
}
.about-us-page .page-heading {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, #000 100%), url("../images/about-us.webp");
  color: #fff;
}
.about-us-page .section-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 992px) {
  .about-us-page .section-title {
    font-size: 28px;
  }
}
.about-us-page .full-story {
  padding: 78px 0;
}
.about-us-page .full-story .full-story-description h2 {
  text-align: left;
  margin-bottom: 24px;
}
.about-us-page .full-story .full-story-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 666px;
}
.about-us-page .full-story img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 673px;
}
@media (min-width: 992px) {
  .about-us-page .full-story img {
    max-width: 497px;
  }
}
.about-us-page .full-story + hr {
  max-width: 988px !important;
  border-top-color: rgba(221, 153, 52, 0.4) !important;
  margin: auto;
  opacity: 1;
}
.about-us-page .our-values {
  padding: 71px 0;
  margin-bottom: 74px;
}
.about-us-page .our-values h2 {
  margin-bottom: 32px;
}
.about-us-page .our-values .our-values-images {
  position: relative;
  padding: 22px 0 0 0;
  max-width: 559px;
}
.about-us-page .our-values .our-values-images .image-1 {
  width: 76.75%;
}
.about-us-page .our-values .our-values-images .image-1 img {
  height: 516px;
}
.about-us-page .our-values .our-values-images .image-2 {
  z-index: 2;
  position: absolute;
  top: 168px;
  left: 0;
}
.about-us-page .our-values .our-values-images .image-2 img {
  height: 451px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us-page .our-values .our-values-info h4 {
  color: #dd9934;
  font-size: 20.903px;
  font-weight: 700;
  line-height: 41.226px;
  margin-bottom: 9px;
}
.about-us-page .our-values .our-values-info p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.about-us-page .our-values .our-values-info p:not(:last-child) {
  margin-bottom: 27px;
}
@media (max-width: 992px) {
  .about-us-page .our-values .our-values-images {
    margin: 0 auto 80px auto;
  }
  .about-us-page .our-values .our-values-images .image-1 img {
    height: 300px;
  }
  .about-us-page .our-values .our-values-images .image-2 {
    top: 80px;
    width: 70%;
  }
  .about-us-page .our-values .our-values-images .image-2 img {
    height: 300px;
  }
}
.about-us-page .our-clients-stories {
  margin-bottom: 135px;
}
.about-us-page .our-clients-stories h2 {
  margin-bottom: 19px;
}
.about-us-page .our-clients-stories .carousel::before {
  content: "";
  background-image: url("../images/double-quotes-icon.svg");
  width: 55.987px;
  height: 44.79px;
  display: block;
  left: 10%;
  position: relative;
  background-size: cover;
}
.about-us-page .our-clients-stories .carousel .carousel-inner {
  max-width: 70%;
  margin: auto;
}
.about-us-page .our-clients-stories .carousel .carousel-control-prev {
  justify-content: flex-start;
}
.about-us-page .our-clients-stories .carousel .carousel-control-next {
  justify-content: flex-end;
}
.about-us-page .our-clients-stories .carousel .carousel-control-prev,
.about-us-page .our-clients-stories .carousel .carousel-control-next {
  padding-top: 8%;
  align-items: flex-start;
}
.about-us-page .our-clients-stories .carousel .our-client-desc {
  font-size: 21px;
  line-height: 47.5px;
  margin-bottom: 56px;
}
.about-us-page .our-clients-stories .carousel .our-client-profile {
  border-radius: 102px;
  border: 2px solid #dd9934;
  width: 102px;
  height: 102px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.about-us-page .our-clients-stories .carousel .our-client-profile img {
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-20px);
}
.about-us-page .our-clients-stories .carousel .our-client-title {
  font-family: "Poppins", sans-serif;
  font-size: 23.333px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .about-us-page .our-clients-stories .carousel::before {
    width: 35.987px;
    height: 24.79px;
    left: 1%;
    top: -2px;
  }
  .about-us-page .our-clients-stories .carousel .carousel-control-prev,
  .about-us-page .our-clients-stories .carousel .carousel-control-next {
    display: none;
  }
  .about-us-page .our-clients-stories .carousel .carousel-inner {
    max-width: 100% !important;
  }
  .about-us-page .our-clients-stories .carousel .our-client-desc {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 36px;
  }
  .about-us-page .our-clients-stories .carousel .our-client-profile {
    border-radius: 82px;
    width: 82px;
    height: 82px;
  }
  .about-us-page .our-clients-stories .carousel .our-client-title {
    font-size: 16px;
  }
}
.about-us-page .contact-us {
  background: rgba(221, 153, 52, 0.14);
  padding: 56px 0 54px 0;
}
.about-us-page .contact-us h2 {
  margin-bottom: 49px;
}
.about-us-page .contact-us .contact-us-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20.49px;
}
.about-us-page .contact-us .contact-us-form input,
.about-us-page .contact-us .contact-us-form select,
.about-us-page .contact-us .contact-us-form textarea {
  padding: 19.56px 20px;
  border-radius: 9.316px;
  border: 0.932px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16.768px;
  font-weight: 400;
  line-height: 25.236px;
}
.about-us-page .contact-us .contact-us-form input::-moz-placeholder, .about-us-page .contact-us .contact-us-form select::-moz-placeholder, .about-us-page .contact-us .contact-us-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.about-us-page .contact-us .contact-us-form input::placeholder,
.about-us-page .contact-us .contact-us-form select::placeholder,
.about-us-page .contact-us .contact-us-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.about-us-page .contact-us .contact-us-form textarea {
  width: 100%;
  height: 170px;
}
.about-us-page .contact-us .contact-us-form button {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 9.32px 0;
  height: 66px;
  border-radius: 5px;
}
.about-us-page .contact-us .contact-us-images {
  position: relative;
  padding: 15px 0 0 0;
  max-width: 545px;
  margin: auto;
}
.about-us-page .contact-us .contact-us-images .image-1 {
  width: 49.5%;
  z-index: 2;
  left: 0;
  position: absolute;
}
.about-us-page .contact-us .contact-us-images .image-1 img {
  height: 403px;
}
.about-us-page .contact-us .contact-us-images .image-2 {
  width: 80%;
  top: 100px;
  position: relative;
}
.about-us-page .contact-us .contact-us-images .image-2 img {
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .about-us-page .contact-us .contact-us-images {
    margin: 0 auto 160px auto;
    max-width: 460px;
  }
  .about-us-page .contact-us .contact-us-images .image-1 {
    width: 55%;
  }
  .about-us-page .contact-us .contact-us-images .image-1 img {
    height: 320px;
    width: 100%;
  }
  .about-us-page .contact-us .contact-us-images .image-2 img {
    height: 350px;
  }
}

.btn-primary {
  background-color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  color: white !important;
  padding: 15px 30px !important;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.btn-primary:hover {
  border-color: var(--main-color-hover) !important;
  background-color: var(--main-color-hover) !important;
}

.page-heading {
  height: 364px;
  background-color: lightgray;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.page-heading .page-heading-box {
  padding: 112px 100px;
  max-width: 937px;
  height: 369px;
  background: rgba(0, 0, 0, 0.7);
  margin: auto;
  transform: translateY(112px);
}
.page-heading .page-heading-box h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 105.687%;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.page-heading .page-heading-box p {
  color: #dbd9d9;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
  max-width: 629px;
  margin: auto;
}
@media (max-width: 992px) {
  .page-heading .page-heading-box {
    padding: 40px 20px;
    height: auto !important;
    transform: none;
  }
  .page-heading .page-heading-box h1 {
    font-size: 32px;
  }
  .page-heading .page-heading-box p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */